table.oaktracker {
  border-collapse: collapse;
  width: 100%;

  .clickable {
    cursor: pointer;
  }

  .sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
  }

  th,
  td {
    border: 1px solid #ffffff;
    padding: 8px;
    text-align: center;
  }

  .expanded {
    &.location {
      color: var(--color-primary);
    }
    &.area {
      color: var(--color-tertiary);
    }
    
    background-color: var(--color-surface-container-lowest);
  }
  .subarea,.pokemon {
    background-color: var(--color-surface-container-lowest);
  }
}
