---
import StarBaseLayout from "@/layouts/rpg/StarBaseLayout.astro";

export const title = 'Negozi - Stella Nera'
const description = 'Negozi della campagna La Stella Nera'
const permalink = `${Astro.site.href}/rpg/star/shops`

---

<StarBaseLayout title={title} description={description} permalink={permalink}>
    <h1>Negozi</h1>

    <p>Negozi! Capitalismo! Acquisti!</p>

    <hr>

    <h4>Novità</h4>

    [WIP misc_2023-11-19]

    <hr>

    <h4>Precedenti</h4>

    [WIP misc_2023-09-06]

    <hr>

    [WIP misc_2023-07-08]
</StarBaseLayout>
