.session-index {
  max-width: 800px;
}

.show-settings button {
  background-color: var(--primary-color);
  color: var(--text-main);
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  font-weight: 900;
  font-size: 0.75rem;
  cursor: pointer;

  &.inactive {
    background-color: var(--primary-color-inactive);
  }
}

.session-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 1rem;

  .session-card {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 5px;
    background-color: var(--surface-primary);
    color: var(--on-surface-primary);
    background-image: none;
    background-size: 400%;
    border-radius: 7px;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    box-shadow: inset 0 0 0 1px
      color-mix(in srgb, var(--text-main), transparent 90%);

    min-height: 3rem;
    max-height: 7rem;
    transition: max-height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    // transition: height 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    overflow: hidden;

    &:hover {
      p {
        opacity: 0.8;
      }
    }

    h2,
    p {
      transition:
        color 0.6s cubic-bezier(0.22, 1, 0.36, 1),
        opacity 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    }
    h2 {
      font-size: 1.25rem;
      margin: 0;
    }
    p {
      font-size: 0.75rem;
      opacity: 0.6;
      //   overflow: hidden;
      //   text-overflow: ellipsis;
    }
  }
}

.pagination {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.pagination button {
  margin: 0 0.25rem;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--primary-color-inactive);
  color: var(--text-main);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 900;

  &.active {
    background-color: var(--primary-color);
  }
}