<div class="session-index">
  <!-- Toggle View Mode Button -->
  <div class="show-settings">
    <button id="toggle-view-mode" (click)="changeMode()" [ngClass]="!showAll ? 'inactive' : ''">
      Mostra tutti
    </button>
    <button id="toggle-view-order" (click)="changeOrder()">
      <fa-icon
        [icon]="faArrowDownWideShort"
        *ngIf="recentFirst"
        alt="a"
      ></fa-icon>
      <fa-icon [icon]="faArrowUpWideShort" *ngIf="!recentFirst"></fa-icon>
    </button>
  </div>

  <ng-template *ngTemplateOutlet="paginationControls"></ng-template>

  <!-- Session Cards Container -->
  <div id="session-cards" class="session-cards">
    @for (file of showFiles; track file.frontmatter.title) {
      <div
        #card
        class="session-card"
        [id]="'card-' + file.url"
        (mouseenter)="startHover(card)"
        (mouseleave)="endHover(card)"
        [style.height]="hoveredCard === card ? calcFullHeight(card) : ''"
        [style.maxHeight]="hoveredCard === card ? calcFullMaxHeight(card) : ''"
      >
        <h2 [innerHtml]="file.frontmatter.title"></h2>
        <p
          *ngIf="file.frontmatter.recap"
          appEllipsis
          [ellipsisData]="file.frontmatter.recap"
          [checkElement]="card"
        ></p>
      </div>
    } @empty {
      Caricamento...
    }
  </div>

  <ng-template *ngTemplateOutlet="paginationControls"></ng-template>
</div>

<ng-template #paginationControls>
  <div id="pagination-controls" class="pagination" *ngIf="!showAll">
    @for (item of [].constructor(numPages); track $index) {
      <button
        [ngClass]="$index === page ? 'active' : ''"
        (click)="setPage($index)"
      >
        {{ $index + 1 }}
      </button>
    }
  </div>
</ng-template>
