$shop-main-color: #001a23;

$color-common: #d8d8d8;
$color-uncommon: #68ca50;
$color-rare: #5d93ff;
$color-very-rare: #b762fd;
$color-legendary: #f9c22e;
$color-artifact: #f9c22e;

$spell-border-1: #b5a62d; // Level 1 - Gold
$spell-border-2: #68baae; // Level 2 - Bronze
$spell-border-3: #5e3b8c; // Level 3 - Purple
$spell-border-4: #3b8c5e; // Level 4 - Emerald
$spell-border-5: #8c3b3b; // Level 5 - Crimson
$spell-border-6: #3b5e8c; // Level 6 - Sapphire
$spell-border-7: #8c783b; // Level 7 - Amber
$spell-border-8: #783b8c; // Level 8 - Amethyst
$spell-border-9: #8c3b78; // Level 9 - Magenta

$spell-school-necromancy:    #afff80;
$spell-school-abjuration:    #96c8ff;
$spell-school-evocation:     #ff8080;
$spell-school-conjuration:   #ffea80;
$spell-school-transmutation: #ffc880;
$spell-school-enchantment:   #ff80f4;


$border-radius-outer: 1.2vw;
$border-size: 2.5px;

.shop {
  // font-size: 1em;

  p,h1,h2,h3,h4 {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    break-inside: inherit;
  }

  ul {
    display: grid;
    grid-template-columns: repeat(1,1fr);
    transform-origin: top left;
    margin: 0;
    overflow: initial;
    padding-left: initial;
    line-height: initial;
  }
  li{
    position: relative;
    aspect-ratio: 1;
    list-style: none;

    --label-opacity: 1;
    &:hover {
      --label-opacity: 0.5;
    }

    a {
      width: 100%;
      height: 100%;
      border-radius: $border-radius-outer;
      text-decoration: none;
    }

    .content {
      width: 100%;
      height: 100%;
      border: $border-size solid var(--text-secondary);
      border-radius: $border-radius-outer;
      background: none;

      display: flex;
      flex-direction: column;
    }

    @mixin rarity-styling($color) {
      .content {
        border-color: $color;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 30px;
          height: 30px;
          background: $color;
          clip-path: polygon(0 100%, 100% 100%, 0 0);
          border-radius: 0 0 0 $border-radius-outer;
        }
      }
    }

    &.rarity-legendary { @include rarity-styling($color-legendary); }
    &.rarity-very-rare { @include rarity-styling($color-very-rare); }
    &.rarity-rare { @include rarity-styling($color-rare); }
    &.rarity-uncommon { @include rarity-styling($color-uncommon); }
    &.rarity-common { @include rarity-styling($color-common); }

    @mixin spell-level-styling($color) {
      .level span {
        color: $color !important;
      }
      .content {
        border-color: $color;
      }
    }

    @mixin spell-school-styling($color) {
      .product {
        background-color: $color !important;
      }
    }

    &.spell-level-1 { @include spell-level-styling($spell-border-1); }
    &.spell-level-2 { @include spell-level-styling($spell-border-2); }
    &.spell-level-3 { @include spell-level-styling($spell-border-3); }
    &.spell-level-4 { @include spell-level-styling($spell-border-4); }
    &.spell-level-5 { @include spell-level-styling($spell-border-5); }
    &.spell-level-6 { @include spell-level-styling($spell-border-6); }
    &.spell-level-7 { @include spell-level-styling($spell-border-7); }
    &.spell-level-8 { @include spell-level-styling($spell-border-8); }
    &.spell-level-9 { @include spell-level-styling($spell-border-9); }
    &.spell-necromancy { @include spell-school-styling($spell-school-necromancy); }
    &.spell-abjuration { @include spell-school-styling($spell-school-abjuration); }
    &.spell-evocation { @include spell-school-styling($spell-school-evocation); }
    &.spell-conjuration { @include spell-school-styling($spell-school-conjuration); }
    &.spell-transmutation { @include spell-school-styling($spell-school-transmutation); }
    &.spell-enchantment { @include spell-school-styling($spell-school-enchantment); }

    h4.name, p.price {
      z-index: 2;
    }

    h4.name {
      z-index: 2;
      position: relative;
      top: 1%;
      left: 2%;
      width: 90%;
      font-size: 0.65rem; // smallest screen size
      color: var(--text-main);
      text-shadow: 0.2px 0.2px 1px rgba(0, 0, 0, 0.65);
      margin-bottom: 0;
    }

    .product {
      position: relative;
      //height: 110%;
      //left: 50%;
      top: -5%;

      width: 95%;
      height: auto;
      flex: 1;
      align-self: center;

      transform-origin: center;
      transform: scale(90%);
      transition-property: transform;
      transition-duration: .3s;

      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;

      &.icon-svg, .icon-svg {
        background-color: var(--text-main);
        mask-repeat: no-repeat;
        mask-size: contain;
      }
      &.icon-svg {
        transform: scale(65%);
      }

      &.spell {
        top: 5%;
        width: calc(65% + 10px);
        height: calc(65% + 10px);
        background-color: var(--surface-secondary);
        border-radius: 10px;
        padding: 10px;
        flex: initial;

        .icon-svg {
          width: 100%;
          height: 100%;
          background-color: #2c2c2c;
        }
      }
    }

    &:hover .product {
      transform: scale(100%);

      &.icon-svg {
        transform: scale(calc(65% / 0.9)); // 65% * (100% / 90%)
      }
    }

    p.price {
      border-radius: 10px;
      position: absolute;
      bottom: 3%;
      right: 3%;
      font-size: 1em;
      background-color: var(--surface-primary);
      color: var(--on-surface-primary);
      margin-bottom: 0;
    }

    .level {
      position: absolute;
      bottom: 3%;
      left: 3%;
      height: 15%;

      display: flex;
      flex-direction: row;
      gap: 5px;
      align-items: center;

      span {
        font-family: var(--font-family-sans), sans-serif;
        font-size: 1.25rem;
      }

      .icon {
        aspect-ratio: 1;
        height: 100%;

        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        text-shadow: none;
      }
    }
  }

  @media (min-width:300px) {
    body{
      font-size: 2.75vw;
    }
    ul {
      grid-template-columns: repeat(2,1fr);
      grid-column-gap: 3vw;
    }
  }

  @media (min-width:600px) {
    body{
      font-size: 1.95vw;
    }
    ul {
      grid-template-columns: repeat(3,1fr);
      grid-column-gap: 2vw;
    }
    h4.name {
      font-size: 0.86rem !important;
      text-shadow: 1px 1px 1px black;
    }
  }

  @media (min-width:900px) {
    body{
      font-size: 1.5vw;
    }
    ul {
      grid-template-columns: repeat(4,1fr);
      grid-column-gap: 1.5vw;
    }
  }
}
