body {
  // background-color: var(--background-color);
  background-color: hsl(from var(--background-color) h s calc(l - 4));
}

.wrapper {
  min-height: 100%;
  max-width: 1200px;
  margin: auto;
}

.container {
  padding: 0 20px 10px 20px;
  &.fullwidth {
    padding: 0;
  }
}

.spacer {
  flex: 1 1 auto;
}

.vspacer {
  height: 1em;
  width: 100%;
}

.button-row {
  display: flex;

  button {
    margin: 8px 8px 8px 0;
  }

  &.centering {
    justify-content: center;
  }
}
