---
import { render, type AnyEntryMap, type CollectionEntry } from 'astro:content';

export class Props {
    collection: CollectionEntry<keyof AnyEntryMap>[];
}

const { collection } = Astro.props;

// const fileContents = await Promise.all(
//     collection.map(async (post) => {
//         const { Content, headings, remarkPluginFrontmatter } = await render(post);
//         console.log("[DEBUG] RENDERED", post, "TO", Content);
//         return { ...post, Content };
//     })
// );
---

<!-- {fileContents.map((renderedFile) => (<div set:html={renderedFile.Content}></div>))} -->
{collection.map((file) => (<div set:html={file.rendered.html}></div>))}