---
import faviconSrc from '../assets/img/favicon.ico'
---

<style>
  img {
    display: block;
    width: 75px;
  }

  @media screen and (max-width: 520px) {
    img {
      display: none;
    }
  }
</style>

<a href="/" class="logo">
  <!-- <img alt="Blog Logo" src={faviconSrc} width="75" height="50" /> -->
  filloax.github.io
</a>
