---
export interface Props {
  date: string;
  readingTime: string;
  title: string;
}

const { date, readingTime, title } = Astro.props;

const localeDate = new Date(date).toLocaleDateString("it-IT", {
  weekday: "short",
  day: "numeric",
  month: "short",
  year: "2-digit",
});
---

<header>
  <p>{localeDate} ~ {readingTime}</p>
  <h1 set:html={title}></h1>
  <hr />
</header>
<div class="container">
  <slot name="preamble"/>
  <article class="content">
    <slot/>
  </article>
</div>

<style lang="scss">
  header {
    text-align: center;
  }

  header h1 {
    margin-bottom: 0.7em;
  }

  header p {
    color: var(--text-secondary);
    text-transform: uppercase;
    font-family: var(--font-family-sans);
    font-weight: 600;
  }

  header hr {
    min-width: 100px;
    width: 30%;
  }
</style>
